.titulo {
    text-align: center; 
    color: #5395EA;
}
.paragrafo{text-align: center;
    background-color: #5395EA; 
    margin-top: 150px;
    padding: 150px;
    color: #ffff;">Aqui temos um exemplo de um parágrafo!</p>
   <div style="text-align: center;}